if SHIELD_JCORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "jCorne Left"

endif

if SHIELD_JCORNE_RIGHT

config ZMK_KEYBOARD_NAME
    default "jCorne Right"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_JCORNE_LEFT || SHIELD_JCORNE_RIGHT

config ZMK_SPLIT
    default y

endif
