#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#define DEFAULT 0

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | BSPC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | MINUS |
// | TAB  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  '  | RET   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT  |
//               | GUI | SYMBOLS | TEXT |   | SPACE | HOTKEYS | CTRL |
                        bindings = <
   &kp BSPC &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U &kp I    &kp O   &kp P    &kp MINUS
   &kp TAB  &kp A &kp S &kp D &kp F &kp G   &kp H &kp J &kp K    &kp L   &kp APOS &kp RET
   &kp SHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M &kp CMMA &kp DOT &kp FSLH &kp SHFT
            &kp LGUI &none &none   &kp SPACE &none &kp LCTRL
                        >;
                        sensor-bindings = <&inc_dec_cp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
                };
        };
};


