#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#define DEFAULT 0
#define HOTKEYS 1
#define TEXT    2
#define SELECT  3
#define NUMBERS 4
#define SYMBOLS 5

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | BSPC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | MINUS |
// | TAB  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  '  | RET   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT  |
//               | GUI | SYMBOLS | TEXT |   | SPACE | HOTKEYS | CTRL |
                        bindings = <
   &kp BSPC &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U &kp I    &kp O   &kp P    &kp MINUS
   &kp TAB  &kp A &kp S &kp D &kp F &kp G   &kp H &kp J &kp K    &kp L   &kp APOS &kp RET
   &kp SHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M &kp CMMA &kp DOT &kp FSLH &kp SHFT
            &kp LGUI &mo SYMBOLS &mo TEXT   &kp SPACE &mo HOTKEYS &kp LCTRL
                        >;
                        sensor-bindings = <&inc_dec_cp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
                };
                hotkeys_layer {
// -----------------------------------------------------------------------------------------
// | F6 | GALT 1 | GALT 2 |  {    |  }    | F2    |   | GSFT K | CTL ( | CTL ) | F14 | F11 | F15 |
// | F7 | GCTL A | GSFT 3 |  [    |  ]    | F9    |   |        | STAB  | TAB   | F19 | F12 | F16 |
// | F8 |        | GSFT 4 | PG_UP | PG_DN | CTL U |   |        |       | ALT A | F20 | F13 | F17 |
//                        |  --   | LGUI  | LCTRL |   | SPACE  |  --   |  --   |
                        bindings = <
   &kp F6 &kp LG(LA(N1)) &kp LG(LA(N2)) &kp LBRC  &kp RBRC  &kp F2     &kp LG(LS(K)) &kp LC(LPAR) &kp LC(RPAR) &kp F14 &kp F11 &kp F15
   &kp F7 &kp LG(LC(A))  &kp LG(LS(N3)) &kp LBKT  &kp RBKT  &kp F9     &none         &kp LS(TAB)  &kp TAB      &kp F19 &kp F12 &kp F16
   &kp F8 &none          &kp LG(LS(N4)) &kp PG_UP &kp PG_DN &kp LC(U)  &none         &none        &kp LA(A)    &kp F20 &kp F13 &kp F17
                                        &none     &kp LGUI  &kp LCTRL  &kp SPACE     &none        &none
                        >;
                        sensor-bindings = <&inc_dec_cp C_VOL_UP C_VOL_DN>;
                };
                text_layer {
// -----------------------------------------------------------------------------------------
// | G BSPC | LG(Q   | LG(W) | ESC   | NUMBERS | LG(T) |   | LC(Y) | LG(LEFT) | UP        | LG(RIGHT) | ~ | --  |
// | LC TAB | SELECT | LG(S) | LG(C) | LG(V)   | LG(X) |   | DEL   | LEFT     | DOWN      | RIGHT     | ` | RET |
// | F18    | LG(A)  | LG(D) | F1    | LG(Z)   | LG(Y) |   | BSPC  | LG(F)    | LG(LS(G)) | LG(G)     | \ | --  |
//                           | LALT  | LGUI    |  --   |   | SPACE | RGUI     |    --     |
                        bindings = <
   &kp LG(BSPC) &kp LG(Q)  &kp LG(W) &kp ESC   &mo NUMBERS &kp LG(T)   &kp LC(Y) &kp LG(LEFT) &kp UP        &kp LG(RIGHT) &kp TILDE &none
   &kp LC(TAB)  &mo SELECT &kp LG(S) &kp LG(C) &kp LG(V)   &kp LG(X)   &kp DEL   &kp LEFT     &kp DOWN      &kp RIGHT     &kp GRAVE &kp RET
   &kp F18      &kp LG(A)  &kp LG(D) &kp F1    &kp LG(Z)   &kp LG(Y)   &kp BSPC  &kp LG(F)    &kp LG(LS(G)) &kp LG(G)     &kp BSLH  &none
                                     &kp LALT  &kp LGUI    &none       &kp SPACE &kp RGUI     &none
                        >;
                        sensor-bindings = <&inc_dec_cp RIGHT LEFT>;
                };
                select_layer {
// -----------------------------------------------------------------------------------------
// | -- | -- | -- | -- | -- | -- |   | --    | LG(LS(LEFT)) | LS(UP)       | LG(LS(RIGHT)) | -- | -- |
// | -- | -- | -- | -- | -- | -- |   | --    | LS(LEFT)     | LS(DOWN)     | LS(RIGHT)     | -- | -- |
// | -- | -- | -- | -- | -- | -- |   | --    | LA(RET)      | LA(LS(LEFT)) | LA(LS(RIGHT)) | -- | -- |
//                | -- | -- | -- |   | SPACE | LGUI         | -- |
                        bindings = <
   &none &none &none &none &none &none    &none     &kp LG(LS(LEFT)) &kp LS(UP)       &kp LG(LS(RIGHT)) &none &none
   &none &none &none &none &none &none    &none     &kp LS(LEFT)     &kp LS(DOWN)     &kp LS(RIGHT)     &none &none
   &none &none &none &none &none &none    &none     &kp LA(RET)      &kp LA(LS(LEFT)) &kp LA(LS(RIGHT)) &none &none
                     &none &none &none    &kp SPACE &kp LGUI         &none
                        >;
                        sensor-bindings = <&inc_dec_cp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
                };
                numbers_layer {
// -----------------------------------------------------------------------------------------
// | -- | -- | -- | -- | -- | -- |   | + | 7 | 8 | 9 | , | = |
// | -- | -- | -- | -- | -- | -- |   | - | 4 | 5 | 6 | : |  |
// | -- | -- | -- | -- | -- | -- |   | 0 | 1 | 2 | 3 | / | -- |
//                | -- | -- | -- |   | SPACE | KP_DOT | -- |
                        bindings = <
   &none &none &none &none &none &none   &kp KP_PLUS  &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_COMMA  &kp KP_EQUAL
   &none &none &none &none &none &none   &kp KP_MINUS &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp COLON     &none
   &none &none &none &none &none &none   &kp KP_N0    &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_DIVIDE &none
                     &none &none &none   SPACE &kp KP_DOT &none
                        >;
                        sensor-bindings = <&inc_dec_cp LC(PLUS) LC(MINUS)>;
                };
                symbols_layer {
// -----------------------------------------------------------------------------------------
// | -- | LG(1) | LG(2) | LG(3)       | LG(4)   | LG(5) |   | ;  | & | * | / | PIPE  |   _     |
// | -- |  --   |  --   | LG(LS(TAB)) | LG(TAB) | #     |   | -- | $ | % | ^ |  :    | LG(RET) |
// | -- |  --   |  --   |     --      |   --    | LG(B) |   | -- | ! | @ | # | LG(/) |   --    |
//                      |   LGUI      |   --    |  --   |   | LG(LS(R)) | LG(LS(P))  | -- |
                        bindings = <
   &none &kp LG(1) &kp LG(2) &kp LG(3)       &kp LG(4)   &kp LG(5)   &kp SEMI &kp AMPS   &kp ASTRK   &kp FSLH  &kp PIPE     &kp UNDER
   &none &none     &none     &kp LG(LS(TAB)) &kp LG(TAB) &kp HASH    &none    &kp DOLLAR &kp PERCENT &kp CARET &kp COLON    &kp LG(RET)
   &none &none     &none     &none           &none       &kp LG(B)   &none    &kp EXCL   &kp AT_SIGN &kp HASH  &kp LG(FSLH) &none
                             &kp LGUI        &none       &none       &kp LG(LS(R)) &kp LG(LS(P))  &none
                        >;
                        sensor-bindings = <&inc_dec_cp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
                };
        };
};


